body{
    background:url('ant.webp');
}

.blog{
    width: 40rem;
    background: #2b4f60;
    position: absolute;
    top: 10rem;
    left: 25rem;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 6px 6px 20px #000;
    z-index: 2;
}